<!-- nav header -->
<header>
    <!-- bootstrap navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 p-2">
        <div class="container-fluid">
            <a href="/users/dashboard" class="h2 header-title">
                <img class="img-fluid img-thumbnail" src="/images/top_trump_sample_cards.jpg" alt="Logo" width="48" height="50" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

            <div class="collapse navbar-collapse justify-content-end my-auto" id="navbarSupportedContent">
                <ul class="navbar-nav nav-btn-container align-items-center">
                    <!-- Dashboard link -->
                    <li class="nav-item nav-btn">
                        <a class="nav-link" href="/users/dashboard">Dashboard</a>
                    </li>
                    <!-- Add a card link -->
                    <li class="nav-item nav-btn">
                        <a class="nav-link" href="/cards/new">Add a card</a>
                    </li>
                    <!-- All card link -->
                    <li class="nav-item nav-btn">
                        <a class="nav-link" href="/cards/">All Cards</a>
                    </li>
                    <!-- Profile link -->
                    <li class="nav-item nav-btn">
                        <a class="nav-link" href="/users/profile">Profile</a>
                    </li>
                    <!-- Give feedback link -->
                    <li class="nav-item nav-btn">
                        <a class="nav-link" href="/users/feedback">Give feedback</a>
                    </li>
                    <!-- What is Top Trumps? link -->
                    <li class="nav-item nav-btn">
                        <a class="nav-link" href="/users/about-top-trumps">What is Top Trumps?</a
            >
          </li>
          <li class="nav-item nav-btn">
            <!-- log out button -->
            <button class="btn btn-danger logOut-btn p-2">
              <a class="nav-link p-0" href="/users/logout">Log Out</a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>