<header>
    <nav class="navbar navbar-expand-sm navbar-light mb-3" style="background-color: aquamarine">
        <div class="container-fluid">
            <a href="/users/dashboard" class="display-5 header-title">Online Top Trumps</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex justify-content-end">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav nav-btn-container">
            <li class="nav-item nav-btn">
              <a class="nav-link" href="/users/dashboard">Dashboard</a>
            </li>
            <li class="nav-item nav-btn">
                <a class="nav-link" href="/cards/new">Add a card</a>
            </li>
            <li class="nav-item nav-btn">
                <a class="nav-link" href="/cards/">All Cards</a>
            </li>
            <li class="nav-item nav-btn">
                <a class="nav-link" href="/users/profile">Profile</a>
            </li>
            <li class="nav-item nav-btn">
                <a class="nav-link" href="/users/logout">Log Out</a>
            </li>
            </ul>
        </div>
        </div>
        </div>
    </nav>
</header>