<!-- displays respective error if there are any mistakes in the form -->
<% if (typeof errors != "undefined") { %>
    <% errors.forEach(function (error) {
%>
        <div class="alert alert-danger" role="alert">
            <p class="error-message">
                <%= error.msg %>
            </p>
        </div>
        <% }) %>
            <% } %>
                <% if (success_msg != "") { %>
                    <div class="alert alert-success" role="alert">
                        <p class="success-message">
                            <%= success_msg %>
                        </p>
                    </div>
                    <% } %>
                        <% if (error_msg != "") { %>
                            <div class="alert alert-danger" role="alert">
                                <p class="error-message">
                                    <%= error_msg %>
                                </p>
                            </div>
                            <% } %>
                                <% if (error != "") { %>
                                    <div class="alert alert-danger" role="alert">
                                        <p class="error-message">
                                            <%= error %>
                                        </p>
                                    </div>
                                    <% } %>