<header>
    <nav>
        <h1><a href="/" class="header-title">Online Top Trumps</a></h1>

        <ul class="nav-btn-container">
            <li class="nav-btn"><a href="/cards/">All Cards</a></li>
            <li class="nav-btn"><a href="/users/profile">Profile</a></li>
            <li class="nav-btn"><a href="/users/logout">Log Out</a></li>
        </ul>
    </nav>
</header>