<h3>
    <%= user.name %>
</h3>
<table>
    <tbody>
        <tr>
            <th>Email</th>
            <td>
                <%= user.email %>
            </td>
        </tr>
        <tr>
            <th>Total number of Decks</th>
            <td>0</td>
        </tr>
        <tr>
            <th>Number of Wins</th>
            <td>0</td>
        </tr>
        <tr>
            <th>Win Percentage</th>
            <td>0</td>
        </tr>
    </tbody>
</table>
<a href="/users/profile_settings">Edit Profile</a>