<h3>
    <%= user.name %>
</h3>
<table>
    <tbody>
        <tr>
            <th>Email</th>
            <td>
                <%= user.email %>
            </td>
        </tr>
        <tr>
            <th>Total number of cards</th>
            <td>
                <%= %>
            </td>
        </tr>
    </tbody>
</table>
<div class="cards">
    <h3>My Cards</h3>
    <div class="cards-container">
        <% cards.forEach(card => {%>
            <img height="300" width="200" src="<%= card.cardImagePath %>" />
            <% }) %>
    </div>
</div>