<h2>Create a card</h2>

<form action="/users/create_card_deck" method="POST">
    <div>
        <input type="file" name="img" />
    </div>
    <div>
        <div>
            <input type="name" name="name" placeholder="Card Name" value="<%= typeof name != 'undefined' ? name : '' %>" />
        </div>
        <div>
            <input type="text" name="short_desc" placeholder="Short Description" value="<%= typeof description != 'undefined' ? description : '' %>" />
        </div>
    </div>
    <div class="attributes-container">
        <div class="attr-val-container">
            <input type="text" name="att1" placeholder="Attribute" />
            <input type="text" name="val1" placeholder="Value" />
        </div>
        <div class="attr-val-container">
            <input type="text" name="att2" placeholder="Attribute" />
            <input type="text" name="val1" placeholder="Value" />
        </div>
        <div class="attr-val-container">
            <input type="text" name="att3" placeholder="Attribute" />
            <input type="text" name="val1" placeholder="Value" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Add Card</button>
</form>