<!-- before login header -->
<header>
    <!-- responsive bootstrap navbar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light p-2 mb-3">
        <div class="container-fluid">
            <!-- logo -->
            <a href="/" class="h2 header-title">
                <img class="img-fluid img-thumbnail" src="/images/top_trump_sample_cards.jpg" alt="Logo" width="48" height="50" />
            </a>
            <!-- hamburger menu button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

            <div class="collapse navbar-collapse justify-content-end my-auto" id="navbarNav">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item nav-btn">
                        <a class="nav-link" href="/users/login">Log In</a>
                    </li>
                    <li class="nav-item nav-btn">
                        <a class="nav-link" href="/users/signup">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>