<%- include("partials/header.ejs") %>

    <p><em> Welcome <%= user.name %>! </em></p>

    <a href="/cards/new">Add a card</a>

    <h2 class="page-header">Recently added cards</h2>

    <!-- <div>
        <%# cards.forEach(card => { %>
            <img height="150" width="100" src="<%#= card.cardImagePath %>" />
            <%# }) %>
    </div> -->
    <%- include("partials/cardGrid", { cards: cards, large :true }) %>