<%- include("partials/after_login_header.ejs") %>

    <div class="container-fluid">
        <p><em> Welcome <%= user.lastName %>! </em></p>
        <h2 class="page-header">Recently added cards</h2>
        <%- include("partials/cardGrid", { cards: cards, large :true }) %>
    </div>