<h1>Dashboard</h1>
<p>Welcome
    <%= user.name %>
</p>
<%- include("./partials/header") %>
    <div>
        <h3>My Card Decks</h3>
        <a href="/users/create_card_deck">Create a Deck</a>
    </div>