<%- include("before_login_header.ejs") %>

    <div class="container-fluid mx-auto">
        <div class="col-12 col-sm-10 m-auto text-center">
            <h2 class="fw-bold mt-5 display-3">Online Top Trumps</h2>
            <hr class="mx-auto w-50" />
            <p class="fs-5 landing-para">
                A web app made for those who like <u>creating</u> and
                <u>showcasing</u> their Top Trumps cards, while also making the cards
                <u>educational</u>.
            </p>
            <p class="fs-5 landing-para">
                If you don't know what Top Trumps is, then don't worry, just
                <a href="/users/about-top-trumps"><strong>Click here</strong></a> to know about it.
            </p>
            <img class="img-fluid img-thumbnail my-4 w-25 show-card" src="/images/top_trump_sample_cards.jpg" alt="" />
        </div>
    </div>