<%- include ("before_login_header.ejs") %>
    <div class="container-fluid">
        <h3>Login</h3>
        <%- include("./partials/errorMessages") %>
            <form action="/users/login" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="login-email">Email</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" id="login-email" name="email" placeholder="Email" />
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="login-password">Password</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="login-password" name="password" placeholder="Password" />
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-block mb-3">
      Login
    </button>
            </form>
            <p>No account? <a class="link-primary" href="/users/signup">Sign Up</a></p>
    </div>