<div class="form-row">
    <div class="form-item form-item-no-grow">
        <input type="file" name="cardImage" class="card-image filepond" placeholder="Image" />
    </div>
</div>

<div class="form-row form-item">
    <div class="form-item">
        <input type="text" name="cardName" placeholder="Card name" />
    </div>
</div>

<div class="attributes-container">
    <div class="form-item">
        <div class="form-row">
            <input type="text" name="attr1" placeholder="Attribute" />
            <input type="number" name="val1" placeholder="Value" />
        </div>
    </div>
    <div class="form-item">
        <div class="form-row">
            <input type="text" name="attr2" placeholder="Attribute" />
            <input type="number" name="val2" placeholder="Value" />
        </div>
    </div>
    <div class="form-item">
        <div class="form-row">
            <input type="text" name="attr3" placeholder="Attribute" />
            <input type="number" name="val3" placeholder="Value" />
        </div>
    </div>
</div>