<h2 class="page-header">Search a card</h2>
<form action="/cards" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Card name</label>
            <input type="text" name="card-name" value="<%= searchOptions.cardName %>" />
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br />
<% include("../partials/cardGrid", { cards: cards, large :true }) %>