<!-- including after-login header -->
<%- include ("../partials/after_login_header.ejs") %>

    <!-- container for new card page -->
    <div class="container-fluid p-3 text-center">
        <!-- page heading -->
        <h2 class="page-header">New Card</h2>
        <!-- POST form for new card -->
        <form action="/cards" method="POST" enctype="multipart/form-data">
            <div class="container-fluid new-card-container">
                <!-- including card form fields -->
                <%- include('_form_fields') %>
                    <div class="container-fluid mt-2 p-2">
                        <div class="row d-flex justify-content-between">
                            <div class="col-6 p-0">
                                <!-- Cancel button -->
                                <a class="btn btn-outline-danger px-3 py-2" href="/users/dashboard">Cancel</a
            >
          </div>
          <div class="col-6 p-0">
            <!-- Create button -->
            <button class="btn btn-outline-success px-3 py-2" type="submit">
              Create
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>