<h2 class="page-header">Search a card</h2>
<form class="d-flex" action="/cards" method="GET">
    <input type="search" class="form-control me-2" name="cardName" placeholder="Card name" aria-label="Search" value="<%= searchOptions.cardName %>" />
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<%- include("../partials/cardGrid", { cards: cards }) %>